<!-- !22066955 -->
{% extends "base.html" %}
<!DOCTYPE html>
<html>

{% block content %}

<body>
    <section>
        <p>
            Welcome to World Hotels, where luxury meets comfort. At World Hotels, we pride ourselves on providing an
            exceptional hospitality experience for our guests. Nestled in prime locations, our hotels offer a perfect
            blend of sophistication and warmth.

            Our commitment to excellence is reflected in every aspect of your stay. From elegantly designed rooms to
            world-class amenities, we ensure that your time with us is nothing short of extraordinary.

            At World Hotels, we understand that every guest is unique. Whether you're traveling for business or leisure,
            our dedicated team is here to cater to your every need, ensuring a memorable and seamless experience.

            Indulge in the finest cuisine at our restaurants, relax in our spa and wellness centers, and take advantage
            of our state-of-the-art facilities. World Hotels is more than just a place to stay; it's a destination where
            moments are crafted and memories are made.

            Come, be a part of the World Hotels experience. Your journey to unparalleled luxury begins with us.
        </p>
    </section>
    <section>
        <p>
            Contact us at: <br> world@hotels.com
        </p>
        <p>
            Telephone: <br> +012 345 6789
        </p>
    </section>
</body>
{% block footer %}
<div id="page_Footer" style="
position: fixed;
left: 0;
bottom: 0;
width: 100%;">
    <div>&copy;2023 World Hotels. All rights reserved.</div>
    <div>Terms of Service</div>
    <div> Privacy Policy</div>
</div>
{% endblock %}
{% endblock %}
</html>